.dash-box {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.dash-box .box {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    background-color:var(--button-color);
    animation: dropTop .8s linear;
   box-shadow: 2px 3px 2px 3px rgba(205, 193, 28, 0.4);
}




.dash-box .box h1 {
    border-bottom: 2px solid var(--second-button-color);
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

.dash-box .box span {
    font-size: 22px;
    font-weight: bold;
    color: white;
}