.messages-table {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.messages-table  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}
 
.messages-table  th {
    border-bottom: 1px solid black;
}
 
.messages-table  td {
    text-align: center;
}