.dashboard{
    display: flex;
    flex-direction: column;
  
    width: 100%;
}



.dash-header {
    background-color: var(--button-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
}

.dash-header img {
   width: 45px;
}

.dashboard .dash-app {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.dashboard .dash-header .log-out {
    padding: 6px 10px;
    border-radius: 10px;
    font-weight: 600;
    color: #252523;
    background-color: white;
    cursor: pointer;
}

.dashboard .dash-header .log-out:hover {
    background-color: var(--button-color);
    color: #fff;
}

.dashboard .side-bar {
    width: 25%;
    background-color: #252523;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--button-color);
    padding-top: 30px;
}

.dashboard .content .profile img {
    border-radius: 50%;
    width: 150px;
}

.dashboard .side-bar-right {
    padding: 30px;
    width: 75%;
 
}




.dashboard .sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
}

.dashboard .sections .link {
    color: var(--button-color);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;

}

.dashboard .sections .link i {
    margin-right: 15px;
}

.dashboard .sections .link.active {
    background-color: white;


}