.dash-header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dashboard .dash-app {
    display: flex;

}

.dashboard .side-bar-right {
    padding: 30px;
}

.dashboard .side-bar {
    width: 250px;
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

.dashboard .sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dashboard .sections .link {
    color: red;

}