.home {
    background-image: url('../../images/bg-header.jpeg');
    background-size: cover;
    background-position: center top;
    height: 100vh;
    position: relative;
}

.home .header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--button-color);

}

.home .header .main-header {
    color: var(--main-font-color);
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.home .header .logo h2 {
    font-size: 1.5rem;
    color: rgb(235, 170, 49);
}

.navbar {
    display: flex;
    width: 60%;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.navbar .login {
    background-color: #fff;
    color: var(--button-color);
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 12px;
}

.navbar .login:hover {
    background-color: var(--button-color);
    color: #fff;
}

.navbar li:not(:last-child) {
    padding: 10px;
    cursor: pointer;

}

.header .display {
    /* display: none; */
}

.text-hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-hero h2 {
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.text-hero p {
    margin-bottom: 40px;
    color: #7c7b7b;
    max-width: 70%;

}

.text-hero h1 {
    font-weight: 900;
    font-size: 2.2rem;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 40px;
}

.button-group .btn {
    width: 160px;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-group .btn:first-child {
    background-color: var(--button-color);
}

.button-group .btn:nth-child(2) {
    background-color: var(--font-color);
}

/* @media (min-width:300px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width:768px) {
    .header {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width:900px) {
    .header {
        padding-left: 120px;
        padding-right: 120px;
    }
} */

.active {
    /* background-color: blue; */
    border-bottom: 2px solid var(--font-color);
}